Daya24Gavlebocken/LogicAppCode.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Retweet": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['twitter']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/retweet",
                            "queries": {
                                "trimUser": false,
                                "tweetId": "@triggerBody()?['TweetId']"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@body('Detect_Sentiment')?['score']",
                                0.5
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Detect_Sentiment": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Detect_Sentiment": {
                "inputs": {
                    "body": {
                        "language": "en",
                        "text": "@triggerBody()?['TweetText']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/text/analytics/v2.1/sentiment"
                },
                "runAfter": {
                    "Get_user": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_user": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/user",
                    "queries": {
                        "userName": "@{triggerBody()['TweetedBy']}"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_tweet_appears": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/onnewtweet",
                    "queries": {
                        "searchQuery": "#gävlebocken"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "cognitiveservicestextanalytics": {
                    "connectionId": "/subscriptions/[subId]/resourceGroups/4besDay24/providers/Microsoft.Web/connections/cognitiveservicestextanalytics",
                    "connectionName": "cognitiveservicestextanalytics",
                    "id": "/subscriptions/[subId]/providers/Microsoft.Web/locations/westeurope/managedApis/cognitiveservicestextanalytics"
                },
                "twitter": {
                    "connectionId": "/subscriptions/[subId]/resourceGroups/4besDay24/providers/Microsoft.Web/connections/twitter",
                    "connectionName": "twitter",
                    "id": "/subscriptions/[subId]/providers/Microsoft.Web/locations/westeurope/managedApis/twitter"
                }
            }
        }
    }
}