Day2Lucy/CodeView.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Until": {
                "actions": {
                    "Current_time": {
                        "inputs": {},
                        "kind": "CurrentTime",
                        "runAfter": {},
                        "type": "Expression"
                    },
                    "Delay": {
                        "inputs": {
                            "interval": {
                                "count": 10,
                                "unit": "Minute"
                            }
                        },
                        "runAfter": {
                            "Send_an_email_(V2)": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait"
                    },
                    "Send_an_email_(V2)": {
                        "inputs": {
                            "body": {
                                "Body": "<p>Light the 🕯s</p>",
                                "Subject": "Light the 🕯",
                                "To": "mail@address.com"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Current_time": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "expression": "@equals(body('Current_time'), '2019-12-13T17:00:00Z')",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {},
                "type": "Until"
            },
            "Until_2": {
                "actions": {
                    "Current_time_2": {
                        "inputs": {},
                        "kind": "CurrentTime",
                        "runAfter": {},
                        "type": "Expression"
                    },
                    "Delay_2": {
                        "inputs": {
                            "interval": {
                                "count": 25,
                                "unit": "Minute"
                            }
                        },
                        "runAfter": {
                            "Send_an_email_(V2)_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait"
                    },
                    "Delay_3": {
                        "inputs": {
                            "interval": {
                                "count": 4,
                                "unit": "Minute"
                            }
                        },
                        "runAfter": {
                            "Send_an_email_(V2)_3": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait"
                    },
                    "Delay_4": {
                        "inputs": {
                            "interval": {
                                "count": 4,
                                "unit": "Minute"
                            }
                        },
                        "runAfter": {
                            "Send_an_email_(V2)_4": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait"
                    },
                    "Send_an_email_(V2)_2": {
                        "inputs": {
                            "body": {
                                "Body": "<p>start a coffee pot</p>",
                                "Subject": "Start the ☕☕☕☕",
                                "To": "mail@address.com"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Current_time_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Send_an_email_(V2)_3": {
                        "inputs": {
                            "body": {
                                "Body": "<p>pour coffee coffee</p>",
                                "Subject": "pour and bring the first coffee",
                                "To": "mail@address.com"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Delay_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Send_an_email_(V2)_4": {
                        "inputs": {
                            "body": {
                                "Body": "<p>pour the second coffee</p>",
                                "Subject": "pour the second coffee",
                                "To": "mail@address.com"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Delay_3": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "expression": "@equals(body('Current_time_2'), '2019-12-13T17:00:00Z')",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {},
                "type": "Until"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "startTime": "2019-12-13T08:00:00Z",
                    "timeZone": "W. Europe Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "office365": {
                    "connectionId": "/subscriptions/123456-123-123-123-12345678/resourceGroups/4besday2/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/123456-123-123-123-12345678/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
                }
            }
        }
    }
}